.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button {
    min-width: 150px;
}

.circularProgress {
    color: inherit;
}
