.emptyState {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.loadingBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 100px;
}
