.container {
    padding: 1rem;
    border: 1px solid;
    border-color: var(--mui-palette-divider);
    border-radius: 1rem;
    background-color: var(--mui-palette-background-paper);
    max-width: 215px;
}

.contentStack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.chip {
    min-width: 32px;
    max-width: 32px;
    font-weight: 600;
}

.fieldFormControl {
    min-width: 180px;
    flex: 1;
    max-width: 180px;
}

.typeFormControl {
    min-width: 180px;
    max-width: 180px;
}

.removeButton {
    margin-left: 0.5rem;
}
