.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contentBox {
    margin-bottom: 2rem;
}

.actionButtonsWrapper {
    margin-bottom: 1.5rem;
}

.filtersStack {
    margin-bottom: 1.5rem;
}

.issuesCount {
    margin-bottom: 1rem;
}

.errorAlert {
    margin-bottom: 1.5rem;
}

.emptyState {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
